/* Define Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 14px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #26b9d0;
}

h1 {

  font-size: 20px;

}




.textbox {
  font-size: 22px;
  width: 100%;
  height: auto%;
  /* margin-bottom: 20px; */
  position: relative;
  left: 30px;
  padding-left: 15px;

}

.btnSubmit {
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 32px;
  margin-left: 120px;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
}

.map_frame2 {

  /* align:"center"; */
  /* z-index: 1; */
  /* display: block; */
  height:50%;
  width: 25%;

  /* margin-left: 1600px;
  margin-top: 200px; */

  top: 30%;
  right: 5%;
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%) */
  position: absolute;


}

th, td {
    padding: 5px;
    text-align: left;
}


/* Add padding to container elements */
.container {
    padding: 6px;
}






tr.table_row > td{
  padding-bottom: 1em;
}

.para1 {
  margin-left: 30px;
  width: 80%;
  /* font-size: 20px; */
  font: 14px arial, sans-serif;
  font-weight: 900;

}

.para3 {

  margin-left: 30px;
  width: 80%;
  /* font-size: 20px; */
  font: 12px arial, sans-serif;

}

.map_frame {

  /* align:"center"; */
  z-index: 1;
  display: block;
  width: 80%;
  height: 50%;
  margin-left:8%;
  /* margin-left: 1600px;
  margin-top: 200px; */
  /* margin: 0; */
  /* top: 25%; */
  /* right: 5%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%) */
  /* position: fixed; */


}


html {
    background: linear-gradient(to top, #333333 0%, #26b9d0 96%);
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 100%;
}
