/* Define Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #26b9d0;
}




.map_frame2 {

  /* align:"center"; */
  /* z-index: 1; */
  /* display: block; */
  height:50%;
  width: 30%;

  /* margin-left: 1600px;
  margin-top: 200px; */

  top: 12%;
  right: 5%;
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%) */
  position: absolute;


}



.textbox {
  font-size: 22px;
  width: 80%;
  height: auto%;
  /* margin-bottom: 20px; */
  position: relative;
  left: 30px;
  padding-left: 15px;

}

.btnSubmit {
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px ;

  /* display: inline-block; */
  cursor: pointer;
}

/* Add padding to container elements */
.container {
  padding-left: 16px;
  padding-right: 16px;

}

.checkbox {
  margin-bottom: 20px;
  margin-left: 30px;
}



.file {
  margin-left: 30px;
  font-size: 20px;

}

/* The Modal (background) */
.modal {
    /* z-index: 1; /* Sit on top */
    position: fixed; /* Stay in place */
    left: 0px;
    /* top: 0; */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* padding-top: 60px; */
}

/* Modal Content/Box */
.modal-content {
    align-content:flex-start;
    right:0;
    background-color: #cccccc;
    margin: auto ; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    transition:  0.5s;
    right:0;
}

.table_row2 {
  padding-left: 1em;

}

tr.table_row > td{
  padding-bottom: 1em;
}

.th2, .td2 {
    border: 2px solid black;

}




.para1 {
  margin-left: 30px;
  width: 80%;
  /* font-size: 20px; */
  font: 20px arial, sans-serif;
  font-weight: 900;

}

.para3 {

  margin-left: 30px;
  width: 80%;
  /* font-size: 20px; */
  font: 20px arial, sans-serif;
  text-align: right;
}

.map_frame {

  /* align:"center"; */
  z-index: 1;
  display: block;
  width: 60%;
  height: 40%;
  margin-left:15%;
  /* margin-left: 1600px;
  margin-top: 200px; */
  /* margin: 0; */
  /* top: 25%; */
  /* right: 5%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%) */
  /* position: fixed; */


}

.rating_dropdown {
  margin-left: 15%;

}

.post_rating {
  margin-left: 15%;

}


html {
    height: 100%;
    background: linear-gradient(to top, #333333 0%, #26b9d0 100%);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */

}
